.sotck-container {
  width: 21.375rem;
  height: 13.8125rem;
  background-color: var(--secondary-color);
  padding: 1rem;
  margin: 0.625rem;
  border-radius: 6px;
  border-left: solid var(--positive-variation-color) 4px;
  justify-content: space-around;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.sotck-container:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.stock-container-descricao{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.negative-variation{
  border-left-color: var(--negative-variation-color);
}

.stock-container-descricao h2{
  color: var(--text-color);
}
.stock-container-descricao p {
  color: var(--text-color-date);
  font-weight: 700;
}

.stock-container-value {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.stock-container-value .value{
  font-size: 3rem;
  color: var(--text-color );
  font-weight: 700;
}

.stock-container-value .variation {
  background-color: var(--positive-variation-color);
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
  color: var(--secondary-color);
  margin-top: 0.25rem;
  margin-left: auto;

  box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.negative-variation .variation{
  background-color: var(--negative-variation-color);
}
